*{
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
   
}
.questions{
    position: relative;
    border-style: solid;
    width: 100%;
    margin: 0px; 
    margin-bottom: 5px;
    padding: 5px; 
    text-align: center;
    max-height: 350px;
    min-height: 300px;
}

.fullback{
    display:block;
    position:center;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

a{
    position: relative;
    border-style: solid;
    display:inline-block;
    width:30%;
    margin: 10px; 
    margin-bottom: 5px;
    padding: 5px; 
}

.Hidden{
    display:none;
}